<header class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="logo-area">
          <a href="/">
            <img src="/img/logo.png" alt="logo" class="img-fluid logo" />
          </a>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="custom-navbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="main-menu">
          <ul>
            <li class="active"><a href="/">Inicio</a></li>
            <li><a href="/recetas/">Recetas</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
