<title>
  {{ $isHomePage := eq .Title .Site.Title }}{{ .Title }} {{ if eq $isHomePage false }} {{ .Site.Title }}{{ end }}
</title>


<!-- META DATA -->
<meta charset="utf-8" />
<meta
  content='width=device-width, initial-scale=1, maximum-scale=1'
  name='viewport' />
<meta
  http-equiv="Content-Type"
  content="text/html; charset=utf-8" />
<meta name=”robots” content="index, follow" />
<meta content='{{ range .Params.tags }} {{.}}, {{ end }} sano, sana, comida, dieta, receta, recetas, comidas, alimentos, sofi, sofia, carrasco' name='keywords' />
<meta name="author" content="PatoJAD" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta
  name="description"
  content="{{ .Params.description }}. Tus recetas sanas y ricas en un solo lugar..."
  property="og:description" />
<meta content='@PatoJADOficial' name='twitter:site'/>
<meta content='@PatoJADOficial' name='twitter:creator'/>
<meta property="og:url" content="https://cocina.patojad.com.ar{{ .RelPermalink }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:image" content="{{ .Params.img }}" />
<meta property="og:locale" content="es-ES" />

<!-- Google Search Meta -->
<meta
  name="google-site-verification"
  content="AB62lAN6bYFzpeZoN7yIodQqshuK3E4R7qQYEsq8T4Y" />

<!-- Bing Meta Data -->
<meta name="msvalidate.01" content="8A4FD3C15526528D48C910421066EC92" />

<!-- CANONICAL LINK -->
<link rel="canonical" href="https://cocina.patojad.com.ar{{ .RelPermalink }}"/>

<!-- RSS -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- Favicon -->
<link rel="icon" type="image/png" href='{{ "img/logo.png" | absURL }}' />

<!-- CSS -->
<link rel="stylesheet" href="/css/animate-3.7.0.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
  crossorigin="anonymous" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
  integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY="
  crossorigin="anonymous" />
<link rel="stylesheet" href="/css/owl-carousel.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/custom.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap"
  rel="stylesheet" />
<!--<link rel="stylesheet" href="/css/topbar.css"/>
<link rel="stylesheet" href="/css/categorys.css"/>
<link rel="stylesheet" href="/css/cookies.css"/>-->
