<div class="blog_right_sidebar">

  <aside class="single_sidebar_widget search_widget">
    <div class="input-group" id="search-form">
      <input type="text" class="form-control" id="search-input" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div><!-- /input-group -->
    <div class="br"></div>
    <div id="search-results-box" class="box" style="display: none; overflow-y: scroll;">
      <ul id="search-results-list" class="items-list" style="max-height: 200px;"></ul>
      <div id="search-results-noresults" class="notification is-info">
        No results found.
      </div>

    </div>
  </aside>

  <aside class="single_sidebar_widget search_widget">
    <h4 class="widget_title">Recetas</h4>

    <p class="text-windget-recetas text-center">
      {{ len .Site.RegularPages }}
    </p>

  </aside>

</div>
