{{ if gt .TotalPages 1 }}
  <nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
      {{ if .HasPrev }}
        <li class="page-item">
          <a href="{{ .Prev.URL }}" class="page-link" aria-label="Previous">
            <span aria-hidden="true">
              <span class="fa fa-angle-left"></span>
            </span>
          </a>
        </li>
      {{ end }}
      {{ if .HasNext }}
      <li class="page-item">
        <a href="{{ .Next.URL }}" class="page-link" aria-label="Next">
          <span aria-hidden="true">
            <span class="fa fa-angle-right"></span>
          </span>
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
