.banner-area{
  background-image: url("https://i.postimg.cc/kGGrxdnw/image.png");
}

.header-area{
  border-radius: 20px !important;
  background: rgba(255,255,255,0.9);
  z-index: 2;
}

.custom-navbar{
  top: -35px;
  border-radius: 20px !important;
}

.banner-text-area{
  background: rgba(0,0,0,0.4);
  border-radius: 20px !important;
  padding: 30px;
}

.single-food{
  border-radius: 20px !important;
}

.food-area .food-img{
  border-radius: 20px 20px 0px 0px;
}

.food-area .food-content{
  border-radius: 0px 0px 20px 20px;
}

.template-btn, .blog_right_sidebar, .blog_post img, .img-fluid, .comment-form, .main-menu ul, .widget_title{
  border-radius: 20px;
}

.blog_details ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.blog_details ul li{
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}

.blog_details ul li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #f8b600;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
}

.blog_details h2, .blog_details h1, .blog_details h3 {
  color: #f8b600;
  padding-bottom: 50px;
}

.blog_details p {
  padding-top: 10px;
  padding-bottom: 20px;
}

.food-area .food-img img{
  border-radius: 0px;
}

.logo{
  max-height: 100px;
  margin-top: -40px;
  margin-bottom: -40px;
}

.avatar{
  max-height: 20px;
}

.comment-form{
  background: #bbb;
}

.blog-pagination .page-link{
  background-color: #ffb606;
  border-radius: 20px;
}

.text-windget-recetas{
  padding: 10px;
  color: #FFF;
  font-size: 34px;
  background: #ffb606;
  border-radius: 20px;
  margin-left: 90px;
  margin-right: 90px;
}
