{{ define "main" }}

<!-- Banner Area Starts -->
<section class="banner-area text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 banner-text-area">
        <h6>Lo mas rico y sano que podes encontrar</h6>
        <h1>Descubre las <span class="prime-color">comidas</span><br>
        <span class="style-change">mas <span class="prime-color">Ricas</span> y sanas</span></h1>
      </div>
    </div>
  </div>
</section>
<!-- Banner Area End -->

<section class="welcome-area section-padding2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <div class="welcome-img">
          <img src="/img/welcome-bg.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-md-6 align-self-center">
          <div class="welcome-text mt-5 mt-md-0">
            <h3><span class="style-change">Bienvenido</span> a un <br>nuevo estilo de vida</h3>
            <p class="pt-3">Te invitamos a comer sano y rico, a sentirte bien con vos mismo. Todas las recetas que vas a encontrar aca vas a poder disfrutarlas sabiendo que comes sano.</p>
            <p>Nuestra idea es centralizar toda la información que vamos obteniendo sobre recetas deliciosas y sanas que pueden ayudar a todos a no quedarse sin ideas a la hora de cocinar. Y, obviamente, a nutrirnos bien dia a dia con las mejores recetas.</p>
            <a href="/recetas/" class="template-btn mt-3">Ver Comidas</a>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- Food Area starts -->
<section class="food-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-top">
          <h3>Nuestras <span class="style-change">ultimas recetas</span></h3>
          <p class="pt-3">Continuamente trabajamos para traer nuevas recetas saludables y deliciosas. Si queres participar no dudes en comunicarte con nosotros para poder subir tus recetas.</p>
        </div>
      </div>
    </div>
    <div class="row">

      {{ $paginator := .Paginate .Site.RegularPages.ByDate.Reverse }}
      {{ range $paginator.Pages }}

        {{ .Render "homecard" }}

      {{ end }}

    </div>
  </div>
</section>
<!-- Food Area End -->

{{ end }}
