<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <!-- Preloader Starts -->
    <div class="preloader" id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->
    {{- partial "header.html" . -}}
    <div id="content">
      {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
