<article class="row blog_item">
  <div class="col-md-3">
    <div class="blog_info text-right">
      <div class="post_tag">
        {{ range .Params.category }}
          <a href="/tags/{{ . }}">{{ . }}</a>,
        {{ end }}
      </div>
      <ul class="blog_meta list">
        <li><a href="#">{{ .Params.time }}<i class="fa fa-clock-o" aria-hidden="true"></i></a></li>
        <li><a href="#">{{ .Params.type }}<i class="fa fa-fork-awesome" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="blog_post">
      <img src="{{ .Params.img }}" alt="{{ .Title }}" />
      <div class="blog_details">
        <a href="{{ .RelPermalink }}"><h4>{{ .Title }}</h4></a>
        <p>{{ .Summary }}</p>
        <a href="{{ .RelPermalink }}" class="template-btn">Ver Receta</a>
      </div>
    </div>
  </div>
</article>
