<div class="col-md-4 col-sm-6">
    <a href="{{ .RelPermalink }}">
      <div class="single-food mt-5 mt-md-0">
          <div class="food-img">
              <img src="{{ .Params.img }}" class="img-fluid" alt="{{ .Title }}" />
          </div>
          <div class="food-content">
              <div class="d-flex justify-content-between">
                  <h5>{{ .Title }}</h5>
                  <span class="style-change">{{ .Params.type }}</span>
              </div>
          </div>
      </div>
    </a>
</div>
