{{ define "main" }}
<section class="banner-area banner-area2 blog-page text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1><i>{{ .Title }}</i></h1>
      </div>
    </div>
  </div>
</section>

<section class="blog_area">
  <div class="container">
    <div class="row">
      <div class="col-12 p-3"></div>
      <div class="col-lg-8">
        <div class="blog_left_sidebar">

          {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
          {{ range $paginator.Pages }}

            {{ .Render "blogcard" }}

          {{ end }}

          {{ partial "pagination.html" $paginator }}

          
        </div>
      </div>
      <div class="col-lg-4">

        {{- partial "lateralbar.html" . -}}

      </div>
      <div class="col-12 p-3"></div>
    </div>
  </div>
</section>

{{ end }}
