{{ define "main" }}
<section class="banner-area banner-area2 blog-page text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1><i>{{ .Title }}</i></h1>
      </div>
    </div>
  </div>
</section>

<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
          <div class="col-lg-4">

              <div class="blog_right_sidebar">
                <h4 class="widget_title">Ingredientes</h4>
                <ul class="unordered-list">
                  {{ range .Params.ingredientes }}
                    <li>{{ . }}</li>
                  {{ end }}
                </ul>

              </div>

              <div class="p-3">
              </div>
              {{- partial "lateralbar.html" . -}}
          </div>
          <div class="col-lg-8 posts-list">
              <div class="single-post row">
                  <div class="col-lg-12">
                    <div class="feature-img">
                      <img class="img-fluid" src="{{ .Params.img }}" alt="{{ .Title }}" />
                    </div>
                  </div>
                  <div class="col-lg-3  col-md-3">
                    <div class="blog_info text-right">
                      <div class="post_tag">
                        {{ range .Params.category }}
                          <a href="/tags/{{ . }}">{{ . }}</a>,
                        {{ end }}
                      </div>
                      <ul class="blog_meta list">
                        <li><a href="#">{{ .Params.time }}<i class="fa fa-clock-o" aria-hidden="true"></i></a></li>
                        <li><a href="#">{{ .Params.type }}<i class="fa fa-fork-awesome" aria-hidden="true"></i></a></li>
                      </ul>
                      <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 blog_details">
                      <h1>{{ .Title }}</h1>
                      {{ .Content }}
                  </div>

              </div>


              <div class="comment-form">
                <div id="disqus_thread"></div>
                <script>
                  (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://https-patojad-gitlab-io-blog.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                  })();
                </script>
              </div>
          </div>

        </div>
    </div>
</section>
{{ end }}
